services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    container_name: elevra-backend-prod-test
    environment:
      DATABASE_URL: "postgresql://neondb_owner:npg_uplF0hf3JMLX@ep-polished-night-a4ff4kn1-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
      PORT: 4000
      NODE_ENV: production
    ports:
      - "4000:4000"
