services:
  postgres:
    image: postgres:16-alpine
    container_name: elevra-postgres-dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: elevra
      POSTGRES_PASSWORD: elevra
      POSTGRES_DB: elevra_dev
    ports:
      - '5432:5432'
    volumes:
      - postgres-dev-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U dev -d elevra_dev']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - elevra-dev


  # ------------------------------------------------------------
  # Backend Service
  # ------------------------------------------------------------
  # backend:
  #   build:
  #     context: .
  #     dockerfile: apps/backend/Dockerfile.dev
  #   container_name: elevra_backend_dev
  #   ports:
  #     - "4000:4000"
  #     - "9229:9229" # Debugger port
  #   environment:
  #     NODE_ENV: development
  #     DATABASE_URL: postgresql://${POSTGRES_USER:-elevra}:${POSTGRES_PASSWORD:-elevra}@postgres:5432/${POSTGRES_DB:-elevra_dev}?schema=public
  #   volumes:
  #     # Sync source code
  #     - .:/app
  #     - /app/node_modules
  #   command: >
  #     sh -c "npx prisma generate --schema=apps/backend/prisma/schema.prisma && npx turbo run dev --filter=@elevra/backend"
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   networks:
  #     - elevra-dev
    
volumes:
  postgres-dev-data:

networks:
  elevra-dev:
    driver: bridge
