services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    container_name: elevra-backend-prod-test
    environment:
      DATABASE_URL: "neon postgres url here"
      PORT: 4000
      NODE_ENV: production
    ports:
      - "4000:4000"
